<div class="container-fluid" id="container">
    <div class="row">
        <mat-toolbar style="background-color: white">
            <span class="ml-2">{{ chat.contact }}</span>
        </mat-toolbar>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-list>
                <h1 mat-subheader>Chat History</h1>
                <mat-list-item *ngFor="let message of chat.messages">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <p mat-line style="font-size: 0.9em">
                        {{ message.sender }}
                        <span style="font-size: 0.8em; color: grey"
                              class="ml-2"> {{ message.time | date:'hh:mm' }}</span>
                    </p>
                    <p mat-line style="font-size: 1em">
                        {{ message.content }}
                    </p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="row" style="position: relative">
        <form (ngSubmit)="onSend()">
            <div id="messageInput" class="col-xl-6 col-lg-8 col-12 ml-lg-4 mb-lg-4">
                <button mat-icon-button>
                    <mat-icon style="transform: scale(1.5)">gif</mat-icon>
                </button>
                <mat-form-field appearance="standard" style="flex-grow: 1" class="mx-2">
                    <input matInput #input name="message" maxlength="128" placeholder="Message" autocomplete="off"
                           [(ngModel)]="inputMessage">
                    <p matSuffix style="font-size: 0.7em">{{ input.value.length }} / {{ input.maxLength }}</p>
                </mat-form-field>
                <button mat-icon-button type="submit">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>
