<div class="container-fluid" style="background-color: whitesmoke">
    <div class="row">
        <mat-toolbar style="background-color: white">
            <span class="ml-2">{{ chat.user }}</span>
        </mat-toolbar>
    </div>
    <div class="row" style="height: 70vh">
        <div class="col-12">
            <mat-list>
                <h1 mat-subheader>Chat History</h1>
                <mat-list-item *ngFor="let message of chat.messages">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <p mat-line style="font-size: 0.9em">{{ message.name }}</p>
                    <p mat-line style="font-size: 1em">{{ message.content }}</p>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="row" style="height: 25vh">
        <div class="col-12">
            <mat-card>
                <mat-card-content>
                    <form>
                        <button mat-raised-button color="primary" type="submit">Send</button>
                        <mat-form-field class="ml-3">
                            <input matInput #message name="message" maxlength="128" placeholder="Message"
                                   [(ngModel)]="inputMessage">
                            <mat-hint>{{message.value.length}} / {{message.maxLength}}</mat-hint>
                        </mat-form-field>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
