<app-header [sidenavOpened]="sidenavOpened" (disconnect)="wsService.disconnect()"
            (menuOpened)="sidenav.opened=$event"></app-header>
<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="sidenavOpened" [mode]="sideNavMode" role="navigation" [style.width]="sideNavWidth">
        <mat-nav-list>
            <a mat-list-item *ngFor="let chat of chats" (click)="selectedChat = chat">
                <mat-icon mat-list-icon class="mr-2">person</mat-icon>
                {{ chat.contact }}
            </a>
            <a mat-list-item (click)="onAddChat()">
                <mat-icon mat-list-icon style="margin: 0 auto">
                    add
                </mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-chat [chat]="selectedChat"></app-chat>
    </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
