<app-header (menuOpened)="sidenav.opened=$event"></app-header>
<mat-sidenav-container id="sidenav-container">
    <mat-sidenav #sidenav mode="side" role="navigation">
        <mat-nav-list>
            <a mat-list-item>
                <mat-icon class="mr-2">chat</mat-icon>
                All
            </a>
            <a mat-list-item>
                <mat-icon class="mr-2">person</mat-icon>
                Chat 1
            </a>
            <a mat-list-item>
                <mat-icon class="mr-2">person</mat-icon>
                Chat 2
            </a>
            <a mat-list-item>
                <mat-icon class="m-auto">add</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="overflow-x: hidden">
        <mat-form-field class="mx-2 mt-2" id="uri-input">
            <input matInput placeholder="URI" [value]="uri">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onConnect()">Connect</button>
        <div class="row m-2">
            <label>
                <textarea cols="75" rows="20">{{log}}</textarea>
            </label>
        </div>
        <mat-card class="ml-2 mr-2" id="chat-input">
            <mat-card-content>
                <form (ngSubmit)="onSubmit()">
                    <button mat-raised-button color="primary" type="submit">Send</button>
                    <mat-form-field class="ml-3">
                        <input matInput #message name="message" maxlength="128" placeholder="Message"
                               [(ngModel)]="inputMessage">
                        <mat-hint>{{message.value.length}} / {{message.maxLength}}</mat-hint>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>