<h1 mat-dialog-title>Hello there!</h1>
<div mat-dialog-content>
    <div style="display: flex; align-items: center;">
        <mat-form-field style="width: 60%">
            <input matInput placeholder="URI" [disabled]="isConnected" [(ngModel)]="data.uri" type="url">
        </mat-form-field>
        <mat-label *ngIf="!isConnecting && !isConnected && hasTriedToConnect" style="margin-left: auto">
            No connection
        </mat-label>
        <mat-progress-spinner *ngIf="isConnecting" style="margin-left: auto;" class="mr-2"
                              mode="indeterminate" diameter="30">
        </mat-progress-spinner>
        <button mat-stroked-button color="primary" [innerHTML]="isConnected ? 'Disconnect' : 'Connect'"
                [style.margin-left]="!isConnecting ? 'auto' : 'unset'" (click)="onConnect()">
            Connect
        </button>
    </div>
    <div *ngIf="isConnected">
        <mat-tab-group [(selectedIndex)]="matTabIndex" dynamicHeight>
            <mat-tab label="Register">
                <form (ngSubmit)="onRegister()">
                    <p>
                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="username"
                                   placeholder="Username" autocomplete="off" name="username">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput type="password" [(ngModel)]="password"
                                   placeholder="Password" name="password">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput type="password" [(ngModel)]="repeatPassword"
                                   placeholder="Repeat Password" name="repeatPassword">
                        </mat-form-field>
                    </p>
                    <p>
                        <button mat-raised-button type="submit" color="primary">Register</button>
                        <mat-label *ngIf="passwordsUnequal" class="ml-2">Passwords do not match</mat-label>
                    </p>
                </form>
            </mat-tab>
            <mat-tab label="Login">
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
