<h1 mat-dialog-title>Hello there!</h1>
<div mat-dialog-content>
    <div id="wrapper">
        <mat-form-field style="width: 60%">
            <input matInput placeholder="URI" [disabled]="isConnected" [(ngModel)]="data.uri" type="url">
        </mat-form-field>
        <mat-label *ngIf="connectionFailed && !buttonClicked" style="margin-left: auto">Connection failed</mat-label>
        <mat-progress-spinner *ngIf="buttonClicked" style="margin-left: auto;" class="mr-2" mode="indeterminate"
                              diameter="30">
        </mat-progress-spinner>
        <button mat-raised-button color="primary" [disabled]="isConnected"
                [style.margin-left]="!buttonClicked ? 'auto' : 'unset'" (click)="onConnect()">Connect
        </button>
    </div>
    <div *ngIf="isConnected">
        <mat-tab-group [(selectedIndex)]="matTabIndex" dynamicHeight>
            <mat-tab label="Login">
                <form (ngSubmit)="onLogin()" class="mt-3">
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Username" type="text" name="username" autocomplete="off">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" name="password">
                        </mat-form-field>
                    </p>
                    <button mat-raised-button class="m-2" color="primary" type="submit">Login</button>
                    <mat-label [(ngModel)]="loginStatus"></mat-label>
                </form>
            </mat-tab>
            <mat-tab label="Register">
                <form (ngSubmit)="onRegister()" class="mt-3">
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Username" type="text" [(ngModel)]="username" name="username"
                                   autocomplete="off">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Password" type="password" [(ngModel)]="password"
                                   name="password">
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Repeat Password" type="password" [(ngModel)]="repeatPassword"
                                   name="repeatPassword">
                        </mat-form-field>
                    </p>
                    <button mat-raised-button class="m-2" color="primary" type="submit">Register</button>
                    <mat-label [(ngModel)]="registerStatus"></mat-label>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
